<div class="row">
  <h1 style="text-align: center;">Edit Profile</h1>
  <div class="container">

 <% if flash[:error] %>
   <% flash.each do |key, value| %>
     <div class="alert alert-danger" role="alert">
       <%= content_tag :div, value, class: "flash #{key}" %>
     </div>
   <% end %>
 <% end %>
</div>

<%= render 'form' %>

</div>
