html {
	height: 100%;
}

body.landing {
	background: url(https://source.unsplash.com/xulIYVIbYIc);
	background-size: cover;
	background-position: center;
	font-family: Lato;
	color: white;
}


body.contact {
	background: url(https://images.unsplash.com/photo-1508112454086-9a507dc91f73?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=bb6f9344f04c8bac6c42a91eb7db3c52&auto=format&fit=crop&w=1504&q=80);
}

#content {
	text-align: center;
	padding-top: 25%;
}

.landing-text {
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
				 0px 8px 13px rgba(0,0,0,0.1),
				 0px 18px 23px rgba(0,0,0,0.1);
}

/* div.login{
    font-family: Lato;
    text-align:center;
    background-color: white;
    background-size:cover;
    background-position:center;
    padding-top:25px;
    padding-bottom:25px;
} */

h1 {
	font-weight: 700;
	font-size: 5em;
}

hr {
	width: 400px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}

body#login {
	background: url(https://images.unsplash.com/photo-1522199780729-a356c844222a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1bd52b437d57c3bfa14ccb7c6985b02e&auto=format&fit=crop&w=752&q=80) no-repeat center center fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
 color: white;
}
