<body class="contact">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <div class="container">
    <div class="bg-light text-dark">
      <div class="col-lg-3">

        <h1>About</h1>

        <p>This is a project done by a couple of Flatiron Students for educational purposes.</p>
        <p>We hope you enjoy!</p>

      </div>
    </div>
  </div>
</body>
