
<h3>Create a Profile for:</h3>

<div class="btn-group">
  <%= button_to "Person", new_person_path, {method: 'get'}%>
  <%= button_to "Cat", new_cat_path, {method: 'get'}%>
  <%= button_to "Admin", new_admin_path, {method: 'get'}%>
</div>
