
<body class="landing">
	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div id="content">
					<h1 class="landing-text">Purrfect Match</h1>
					<h3 class="landing-text">The Only Human-Feline Dating App</h3>
					<hr class="landing-text">
					<%= link_to login_path, class: "btn btn-default btn-lg" do %>
						<i class="fa fa-paw" aria-hidden="true"></i> Get Started!
					<% end %>
				</div>
			</div>
		</div>
	</div>
</body>
